.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "小兜蟲", root_url, :class=>"brand"
      %ul.nav
        = nav_li "主題總攬", categories_path
        = nav_li "指令集", commands_path
        = nav_li "關於", "#about", "data-toggle"=>"modal"
      = form_tag search_path, :method=>:get, :class=>"navbar-search pull-left" do
        = text_field_tag :q, @q, :placeholder=>"搜尋主題", :required=>true, :class=>"search-query", :value=>@q 
        = hidden_field_tag :p
        = hidden_field_tag :t
      %ul.nav.pull-right
        - unless signed_in?
          = nav_li "用噗浪登入", sign_in_path
        - else
          = nav_li image_tag(current_user.avatar), "javascript:void(0)"
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              = current_user.info["display_name"]
              %b.caret
            %ul.dropdown-menu
              = nav_li "個人詞庫", user_path(current_user)
              = nav_li "登出", sign_out_path
= render "share/about_modal"
