.hero-unit
  .row
    .span3
      = image_tag @user.avatar("big")
    .span6
      %h1
        = @user.info["display_name"]
        %small= @user.info["full_name"]
      %p= @user.info["about"]
      %p= link_to "新增主題", user_new_category_path(@user), :class=>"btn btn-danger btn-large coming-soon"

= render "categories/two_columns_categoryes"
