.hero-unit
  .row
    .span3
      = image_tag @user.avatar("big")
    .span7
      %h1
        = @user.info["display_name"]
        %small= @user.info["full_name"]
      %p= @user.info["about"]
      %p
        - like_title = current_user==@user ? "新增主題" : "幫 #{@user.info["display_name"]} 新增主題"
        = link_to like_title, user_new_category_path(@user), :class=>"btn btn-danger btn-large"
        或
        = render "share/friend_search"
      %small 注意：對象與小兜蟲必須為好友才會生效！

= will_paginate @categories, :renderer => BootstrapPagination::Rails
= render "categories/two_columns_categoryes"