.row
  .span9
    .hero-unit
      %h1
        小兜蟲詞庫系統 
        %small (Beta)
      %br
      %p 自由的噗浪機器人，編輯小兜蟲的回話，讓他越來越聰（ㄅㄞˊ）明（ㄇㄨˋ）！
      %br
      /
        = form_tag "/search", :method=>:get, :class=>"form-search", :style=>"display:inline;" do
          = text_field_tag :q, nil, :placeholder=>"尋找主題 ", :class=>"input-xlarge search-query"
          = submit_tag "搜尋", :class=>"btn"
      .row
        .span3
          %p
            = link_to "瀏覽主題", categories_path, :class=>"btn btn-info btn-large"
            看看別人寫了些什麼
          %p
            = link_to "新增主題", new_category_path, :class=>"btn btn-primary btn-large"
            調教小兜蟲>///<
        .span4
          %p
            = link_to "查閱指令", commands_path, :class=>"btn btn-success btn-large"
            一探小兜蟲的功能
          %p
            = link_to "個人主題", current_user ? user_path(current_user.info["nick_name"]) : sign_in_path, :class=>"btn btn-danger btn-large"
            讓小兜蟲只針對個人回應
          %p
            = render "share/friend_search"
      .row
        .span8
          %p= render "share/facebook_like_button"
  .span3
    %p
      健康狀態：
      %span#status
    = render "share/plurk_widget"
.row
  .span6
    %h2 新主題
    - @recent_created.each do |c|
      .row= render :partial=>"categories/short_category", :object=>c
  .span6
    %h2 近期更新
    - @recent_updated.each do |c|
      .row= render :partial=>"categories/short_category", :object=>c
= render "share/facebook_script"

:javascript
  //$('.coming-soon').tooltip({title:"即將推出", placement:"left"});
  $('.new-feature').tooltip({title:"新玩意", placement:"bottom", trigger:"manual"});
  $('.new-feature').tooltip("show");
:javascript
  request = $.ajax({
    url:"/status",
    dataType: "json",
    beforeSend: function(xhr){
      $('#status').html('<img alt="Loading..." src="/assets/loader.gif" />');
    }
  });

  request.done(function(msg){
    if(msg.error_text){
      $('#status').html('<span class="label label-important">噗浪掛了：'+msg.error_text+'</span>');
    }else{
      $('#status').html('<span class="label label-success">小兜蟲沒問題！</span>');
    }
  });