.span6
  .well(style="overflow:auto;")
    %h2
      = category.name
      %small= time_ago_in_words(category.updated_at, true)
      /= link_to "刪除", category, :method=>:delete, :class=>"btn btn-danger pull-right", :confirm=>"你知道你在做什麼？"
      = link_to "編輯", edit_category_path(category), :class=>"btn btn-large pull-right"
      
    .row
      .span2
        %h3 聽見
        %ol
          - category.patterns.each do |p|
            %li= p.content
      .span3
        %h3 回答
        %ol
          - category.responses.each do |p|
            %li= p.content