- unless @category.errors.empty?
  .alert.alert-error
    %ul
      - @category.errors.full_messages.each do |msg|
        %li= msg
= form_for @category do |f|
  .row
    .span8
      .well
        %h2 溫馨提醒
        %ul
          %li
            %p 主題撰寫原則是一個主題只表示一個概念群組，如「早安」、「起床了」、「早上好」可以視為一個群組，無論回答「早安」、「早餐吃了沒」、「又是嶄新的一天」怎麼排列組合都不違背語意邏輯。
          %li
            %p 如果你發現你在同一個主題可能做出不同語意的回答，請考慮是否切成兩個主題。
          %li
            %p
              非常建議使用
              %a(href="http://rubular.com/") 此網站
              檢測你的正規表達式是否正確。
        
      = f.label :name, content_tag(:h2, "標題")
      = f.text_field :name
      .row
        .span4
          %h2 聽見（支援正規表達式）
          %ul
            = f.fields_for :patterns do |pattern_form|
              %li
                = pattern_form.text_field :content, :class=>"input-xlarge"
                - if action_name=="edit"
                  = pattern_form.check_box :_destroy, :class=>"checkbox"
            %li
              %span.new-field-btn.label.label-success + 新增
        .span4
          %h2 回答
          %ul
            = f.fields_for :responses do |response_form|
              %li
                = response_form.text_field :content, :class=>"input-xlarge"
                - if action_name=="edit"
                  = response_form.check_box :_destroy
            %li
              %span.new-field-btn.label.label-success + 新增
    .well.span3
      = render "regex_tip"
  = f.button "提交", :class=>"btn btn-large btn-primary"
  - if action_name=="edit"
    = f.button "復原", :type=>"reset" , :class=>"btn btn-large"
    = link_to "刪除", @category, :method=>:delete, :class=>"btn btn-danger pull-right", :confirm=>"你知道你在做什麼？"  

:javascript
  $('.checkbox').tooltip({placement:"right", title:"刪除"})
  // Disable enter key submission.
  $('form').bind("keypress", function (e) {
      if (e.keyCode == 13) return false;
  });
  // New field button
  $('.new-field-btn').click(function(event){
    li = $(this).closest('ul').find('li:nth-last-of-type(2)').clone();
    // Keep only text field
    li.find(':not(input[type=text])').remove();
    // Set name and value of text input tag
    text_field = li.find('input[type=text]')
    new_name = text_field.attr('name').replace(/\[\d+\]/, "["+event.timeStamp+"]")
    text_field.attr('name', new_name).removeAttr('value');
    
    console.info(li);
    $(this).parent().before(li);
  });
  //s.replace(/\[\d\]/, "["+Date.now()+"]")
