.span6
  .well(style="overflow:auto;")
    %h2
      = short_category.name
      %small= time_ago_in_words(short_category.updated_at, true)
      /= link_to "刪除", short_category, :method=>:delete, :class=>"btn btn-danger pull-right", :confirm=>"你知道你在做什麼？"
      = link_to "編輯", edit_category_path(short_category), :class=>"btn btn-large pull-right"
    - if short_category.user
      =link_to  user_path(short_category.user.info["nick_name"]) do
        %span.label.label-important= short_category.user.info["display_name"] 
    - else
      %span.label.label-success 全域
    .row
      .span2
        %h3 聽見
        %ol
          - short_category.patterns.each do |p|
            %li
              = p.content
              %p
                %small
                  = "#{time_ago_in_words(p.updated_at, true)} ago by"
                  - if p.last_edit_user_id
                    =link_to User.find(p.last_edit_user_id).info["display_name"], user_path(User.find(p.last_edit_user_id).info["nick_name"])
                  - else
                    Anonymous
      .span3
        %h3 回答
        %ol
          - short_category.responses.each do |p|
            %li= p.content
            %p
              %small
                = "#{time_ago_in_words(p.updated_at, true)} ago by"
                - if p.last_edit_user_id
                  =link_to User.find(p.last_edit_user_id).info["display_name"], user_path(User.find(p.last_edit_user_id).info["nick_name"])
                - else
                  Anonymous